.c5tp-link-button-green a {
background-color: #a6cafe;
padding: 12px;
margin-bottom: 8px;
margin-top: 8px;
background-color: #d4f1e0;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(212, 241, 224)), to(rgb(153, 223, 179)));
background-image: -webkit-linear-gradient(top, rgb(212, 241, 224), rgb(153, 223, 179));
background-image: -moz-linear-gradient(top, rgb(212, 241, 224), rgb(153, 223, 179));
background-image: -o-linear-gradient(top, rgb(212, 241, 224), rgb(153, 223, 179));
background-image: -ms-linear-gradient(top, rgb(212, 241, 224), rgb(153, 223, 179));
background-image: linear-gradient(top, rgb(212, 241, 224), rgb(153, 223, 179));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d4f1e0', EndColorStr='#99dfb3');
border-radius: 50px;
-o-box-shadow: 0px 0px 8px #999;
-moz-box-shadow: 0px 0px 8px #999;
-webkit-box-shadow: 0px 0px 8px #999;
box-shadow: 1px 3px 3px #999;
font-weight: bold;
color: black!important;
text-decoration: none!important;
border-style: none!important ;
	}
	
.c5tp-link-button-green a:hover {
background-color: #99dfb3;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(153, 223, 179)), to(rgb(212, 241, 224)));
background-image: -webkit-linear-gradient(top, rgb(153, 223, 179), rgb(212, 241, 224));
background-image: -moz-linear-gradient(top, rgb(153, 223, 179), rgb(212, 241, 224));
background-image: -o-linear-gradient(top, rgb(153, 223, 179), rgb(212, 241, 224));
background-image: -ms-linear-gradient(top, rgb(153, 223, 179), rgb(212, 241, 224));
background-image: linear-gradient(top, rgb(153, 223, 179), rgb(212, 241, 224));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#99dfb3', EndColorStr='#d4f1e0');
-o-box-shadow: inset 0px 0px 4px #777;
-moz-box-shadow: inset 0px 0px 4px #777;
-webkit-box-shadow: inset 0px 0px 4px #777;
box-shadow: inset 0px 0px 4px #777;
	}
	
.c5tp-link-button-green a:active {
background-color: #d9e018;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(217, 224, 24)), to(rgb(236, 241, 175)));
background-image: -webkit-linear-gradient(top, rgb(217, 224, 24), rgb(236, 241, 175));
background-image: -moz-linear-gradient(top, rgb(217, 224, 24), rgb(236, 241, 175));
background-image: -o-linear-gradient(top, rgb(217, 224, 24), rgb(236, 241, 175));
background-image: -ms-linear-gradient(top, rgb(217, 224, 24), rgb(236, 241, 175));
background-image: linear-gradient(top, rgb(217, 224, 24), rgb(236, 241, 175));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d9e018', EndColorStr='#ecf1af');
	}