#editslidebutton-1, #deleteslidebutton-1 {
display: inline;
}

.formigo-slider-wrapper img {
	max-width: 100%;
}

.formigo-slider-side-nav-next a {
	background-image: url(images/next-arrow.png); background-position: center center; background-repeat: no-repeat;
}
.formigo-slider-side-nav-previous a {
	background-image: url(images/prev-arrow.png); background-position: center center; background-repeat: no-repeat;
}

.formigo-slider-item-image-right-text {
margin-left: 50px;
position: relative;
}

.formigo-slider-item-image-left-text {
margin-right: 50px;
position: relative;
}

.formigo-slider-item-full-text {
position: relative;
}

.formigo-slider-item-full-text * {
margin-left: 50px;
margin-right: 50px;
}

.formigo-slider-item-image-left-text p:last-child, .formigo-slider-item-image-right-text p:last-child, .formigo-slider-item-full-text p:last-child {
margin-bottom: 0;
}

.formigo-slider-item-image-right-image img {
float: right;
}

.formigo-slider-item-image-left-image img {
float: left;
}

.formigo-slider-wrapper {
max-width: 100%;
}

.formigo-slider span {
display:block;
}

@media only screen and (max-width: 767px) {

.formigo-slider-item-image-right-text *, .formigo-slider-item-image-left-text *, .formigo-slider-item-full-text * {
display: none;
word-wrap:break-word;
}

.formigo-slider h2 {
font-size: 12px;
line-height: 14px;
display: block;
}

.formigo-slider-item-image-right-text, .formigo-slider-item-image-left-text {
margin-left: 20px;
margin-right: 20px;
}

.formigo-slider-item-image-left-text {
float: left!important;
}

.formigo-slider-item-full-text * {
margin-left: 20px;
margin-right: 20px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

.formigo-slider h2 {
font-size: 16px;
line-height: 18px;
display: block;
}

}