ul.c5tp-dd-nav-light  li {
margin-bottom: 0;
float: left;
list-style-type: none!important ;
position: relative;
	}
	
ul.c5tp-dd-nav-light  a {
display: block;
padding: 8px;
	}
	
ul.c5tp-dd-nav-light {
float: left;
margin-bottom: 0;
	}
	
ul.c5tp-dd-nav-light  li ul {
display: none;
margin: 0!important;
padding: 0!important;
	}
	
ul.c5tp-dd-nav-light ul  ul {
position: absolute;
left: 200px;
top: 0;
	}
	
ul.c5tp-dd-nav-light  li:hover > ul {
display: block;
	}
	
ul.c5tp-dd-nav-light ul {
margin-left: 0;
position: absolute;
z-index: 90;
	}
	
ul.c5tp-dd-nav-light ul,
ul.c5tp-dd-nav-light ul li {
width: 200px;
background-color: white;
	}
	
ul.c5tp-dd-nav-light {
margin-top: 0;
	}
	
ul.c5tp-dd-nav-light ,
ul.c5tp-dd-nav-light  li a,
ul.c5tp-dd-nav-light  ul li a {
display: block;
	}