.c5tp-highlight-blue * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}

.c5tp-highlight-blue {
background-color: #a6cafe;
padding: 12px;
margin-bottom: 8px;
margin-top: 8px;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #4972ca;
	}
