/*************************************************************************
Override styling by c5themepark.com
Bulletproof themes for a complex browser world
Original designs and clever derivations
 ************************************************************************/
.sir-plain-inline ul.block-sociallinks {
	margin: 0;
	padding: 0;
	border-style: none !important;
}

.sir-plain-inline ul.block-sociallinks li {
	list-style-type: none;
	background-color: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
	float: left;
}

.sir-plain-inline ul.block-sociallinks li a {
	margin: 0 !important;
	border-style: none !important;
}

.sir-plain-inline ul.block-sociallinks img {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	width: 25px;
	height: 25px;
	padding: 0 !important;
	margin: 0 9px 0 0;

}

.clear{
width: 100%;
display: block;
clear: both;
visibility: hidden;
height: 1px;
}
