a.c5tp-pdf-link {
display: block;
margin-top: 8px;
margin-bottom: 8px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding-left: 37px;
text-decoration: none;
background: url(icon.png) no-repeat 2px 0px;
padding-top: 8px;
	}
	
a.c5tp-pdf-link:hover {
text-decoration: none!important;
background: url(icon.png) no-repeat 2px  4px;
	}