/*************************************************************************
Override styling by c5themepark.com
Bulletproof themes for a complex browser world
Original designs and clever derivations
************************************************************************/
.sir-rotate-inline ul.block-sociallinks {
margin: 0;
padding: 0;
border-style: none !important;
}

.sir-rotate-inline ul.block-sociallinks li {
list-style-type: none;
background-color: transparent !important;
padding: 0 !important;
margin: 0 7px 0 1px;
float: left;
	}

.sir-rotate-inline ul.block-sociallinks li a {
margin: 0 !important;
	border-style: none !important;

}

.sir-rotate-inline ul.block-sociallinks img {
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
width: 25px;
height: 25px;

-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
padding-top: 0;
padding-bottom: 0;
padding-left: 1px;
	}

.sir-rotate-inline ul.block-sociallinks img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
.clear{
width: 100%;
display: block;
clear: both;
visibility: hidden;
height: 1px;
}

