.c5tp-highlight-darkgreen * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}
	
.c5tp-highlight-darkgreen {
background-color: #076109;
padding: 12px;
margin-bottom: 8px;
margin-top: 8px;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #0d5826;
color: white!important ;
	}
