.date-times{font-size: 10px;}
.invite{color: white!important; float: right; margin-top: 22px!important;}
.send_invite {float: right; margin-top: 12px!important;}
.invite_emails {width: 310px!important;height: 65px!important;}