div#SidebarCart{}
div#SidebarCart h3 {}
div#SidebarCart ul.sidebarcart {list-style:none inside; margin-left:0;padding-left:0}
div#SidebarCart ul.sidebarcart li {margin-left:0;padding-left:0}
div#SidebarCart a {text-decoration:none;}
