div.similarproducts h3 {font-size:18px;margin-bottom:8px}
div.similarproduct {float:left;margin-right:10px;}
div.similarproductimage {margin-bottom:5px;text-align:center}
div.similarproduct span {display:block;text-align:center;}
div.spclear {clear:both}
