
 * .c5tp_search_light{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.c5tp_search_light {
padding: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid gray;
background-color: #ededed;
width: 100%;
margin-bottom: 8px;
	}
	
.c5tp_search_light p {
margin: 0!important;
padding: 0!important;
	}
	
form.ccm-search-block-form {
width: 100%;
	}
	
div.c5tp_search_light form.ccm-search-block-form h4 {
font-weight: normal;
font-style: normal;
font-size: 14px;
	}
	
.c5tp_search_light p.search-phrase {
font-weight: normal;
font-style: normal;
font-size: 13px;
padding: 0;
float: left;
	}
	
.c5tp_search_light input.ccm-search-block-text {
padding: 4px;
border-style: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #fefafa;
margin-left: 16px;
	}
	
.c5tp_search_light input.ccm-search-block-text:focus {
padding: 4px;
border-style: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #e1f3fd;
	}
	
.c5tp_search_light .searchResult {
margin-top: 8px;
	}