/* @override http://localhost:8888/custom-templates/packages/pc5_custom_templates/blocks/image_caption/templates/c5tp_image_caption_below/view.css?v=08953f6ee8546a53331ebdbfc77c83d2 */
	
.c5tp_image_caption_below img {
max-width: 100%;
height: auto;
display: block;
	}
	
.c5tp_image_caption_below  {
position: relative;
overflow: hidden;
	}
	
.c5tp_image_caption_below {
text-align: center;
	}
	
.c5tp_image_caption_below .image-caption {
padding: 7px 0 8px;
background-color: #000000;
background-color: rgba(0,0,0,0.6);
color: white!important;
margin: 0!important;
position: absolute;
width: 100%;
bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	}
	
.c5tp_image_caption_below:hover .image-caption{
bottom: -100%;
	}	
.c5tp_image_caption_below h1,
.c5tp_image_caption_below h2,
.c5tp_image_caption_below h3,
.c5tp_image_caption_below h4,
.c5tp_image_caption_below h5,
.c5tp_image_caption_below h6 {
background-color: transparent;
color: white!important;
font-weight: normal;
font-style: normal;
	}
	
.c5tp_image_caption_below p {
margin: 0!important;
padding: 0!important;
	}