.c5tp_image_caption_top_slide * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}
	
.c5tp_image_caption_top_slide {
position: relative;
overflow: hidden;
	}
	
.c5tp_image_caption_top_slide img {
max-width: 100%;
height: auto;
display: block;
position: relative;
	}
	
.c5tp_image_caption_top_slide .image-caption p,	
.c5tp_image_caption_top_slide .image-caption {
text-align: center;
margin: 0!important;
padding-top: 7px;
padding-bottom: 7px;
width: 100%;
	}
	
.c5tp_image_caption_top_slide .image-caption {
background-color: #000;
background-color: rgba(0,0,0,0.6);
color: white;
	}
	
.c5tp_image_caption_top_slide p,
.c5tp_image_caption_top_slide h1,
.c5tp_image_caption_top_slide h2,
.c5tp_image_caption_top_slide h3,
.c5tp_image_caption_top_slide h4,
.c5tp_image_caption_top_slide h5,
.c5tp_image_caption_top_slide h6 {
color: white !important;
font-weight: normal;
font-style: normal;
	}
	
.c5tp_image_caption_top_slide .image-caption {
position: absolute;
width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
top: -100px;
	}
	
.c5tp_image_caption_top_slide:hover .image-caption {
display: block;
position: absolute;
top: 0;
left: 0;
	}