/**********************************************************
 * Stylesheet for the change_order.php dashboard page
 *********************************************************/
#testimonial-order {
	list-style: none;
	margin: 0;
	padding: 0;
}

#testimonial-order li {
	padding: 5px;
	background: #e3ecf2;
	margin-bottom: 1px;	
}