/**********************************************************
 * Stylesheet for the testimonials single_page
 *********************************************************/
.testimonial {
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
}

.testimonial blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 20px;
	padding: 8px;
	margin: 0;
}

.testimonial img {
	padding: 5px 5px 0 0;
	float: left;
}

.testimonial p img {
	float: none;
}

.clear {
	clear: both;
}