
 * .c5tp_search_dark_compact{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.c5tp_search_dark_compact {
padding: 12px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid gray;
background-color: #454545;
width: 100%;
margin-bottom: 8px;
color: white;
	}
	
.c5tp_search_dark_compact form.ccm-search-block-form {
width: 100%;
	}
	
.c5tp_search_dark_compact form.ccm-search-block-form h4 {
font-weight: normal;
font-style: normal;
font-size: 14px;
	}
	
.c5tp_search_dark_compact p.search-phrase {
font-weight: bold;
font-size: 15px;
padding: 0;
text-align: center;
margin-bottom: 8px!important;
margin-top: 0!important;
	}
	
.c5tp_search_dark_compact .c5tp-search-inputs {
text-align: center;
margin-bottom: 16px;
	}
	
.c5tp_search_dark_compact .searchResult {
padding: 12px;
margin-bottom: 5px;
border: 1px solid gray;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-o-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
	}
	
.c5tp_search_dark_compact .searchResult:hover {
-webkit-transform: scale(1.03);
-moz-transform: scale(1.03);
-o-transform: scale(1.03);
-ms-transform: scale(1.03);
transform: scale(1.03);
background-color: #2c2c2c;
	}
	
.c5tp_search_dark_compact input.ccm-search-block-text {
padding: 4px;
border-style: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #fefafa;
margin-left: 0;
	}
	
.c5tp_search_dark_compact input.ccm-search-block-text:focus {
padding: 4px;
border-style: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #e1f3fd;
	}
	
.c5tp_search_dark_compact .search-results {
margin: 10px 0 0!important;
padding: 0!important;
text-align: center;
	}
	
.c5tp_search_dark_compact .searchResult p span {
background-color: white!important;
color: black!important;
	}
	
.c5tp_search_dark_compact .searchResult h3 a {
color: #c9c9c9!important;
	}