.c5tp-social-icons-hover-effect {
	margin-top: 8px;
	margin-bottom: 8px;
}

.c5tp-social-icons-hover-effect img {
	margin-right: 0;

	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-o-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
}

.c5tp-social-icons-hover-effect img:hover {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	position: relative;
	top: -4px;
}
