/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "libs/response";
@include font-face("Airbus", font-files("aispec.ttf", "aispec.woff", "aispec.svg", "aispec.eot"));
@include font-face("Myriadpro", font-files("myriadpro.ttf", "myriadpro.woff", "myriadpro.svg", "myriadpro.eot"));

$themeColor: rgba(255,156,0,1);
$lineHeight: 1em;

h1, h2, h3, h4, h5, h6, p, small, ul, ol, hr {
	margin-bottom: 16px;
}
h1 {
	font-family: "Airbus", "myriadpro", Arial, sans-serif;
	font-size: 1.875em;
	line-height: 1.35em;
}
h2 {
	font-family: "Airbus", "myriadpro", Arial, sans-serif;
	font-size: 1.5em;
	margin: 1.5em 0 1em;
}
h3 {
	font-family: "Airbus", "myriadpro", Arial, sans-serif;
	font-size: 1.25em;
}
h4 {
	font-family: "myriadpro", arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
}
h5 {
	font-family: "Airbus", "myriadpro", Arial, sans-serif;
	font-size: 1em;
	margin-bottom: 8px;
	font-weight: bold;
}
h6 {
	font-family: "myriadpro", arial, sans-serif;
	font-size: .75em;
	font-weight: bold;
}
p, ul, ol, address, label, .radioPair, .checkboxPair {
	font-family: "myriadpro", arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}
.radioPair, .checkboxPair {
	margin: 0px 0px 0px 20px;
}
ul, ol {
	font-family: "myriadpro", arial, sans-serif;
}
li {
	margin-bottom: 10px;
}
a {
	font-family: "myriadpro", arial, sans-serif;
	color: $themeColor;
	text-decoration: none;
	@include transition(color .25s)
}
a:hover {
	color: rgba(195,93,1,1);
}
i, em {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
small, .meta {
	@extend p;
	display: block;
	font-size: 13px;
	font-style: italic;
	margin-top: 16px;
}
hr {
	border: none;
	background-color: $themeColor;
	color: $themeColor;
	height: 2px;
}
.ccm-grid-cb {
	display: inherit;
	float: none;
	margin: 0;
}
.mainContent input[type=text], .mainContent input[type=tel], .mainContent input[type=email], .mainContent input[type=url], .mainContent input[type=password], .mainContent textarea {
	padding: 8px 4px;
	background: rgba(0,0,0,1);
	border: 1px solid transparent;
	color: rgba(255,227,3,1);
	font-size: .750em;
	width: 80%;
	display: block;
	margin: 1% 0;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	@include box-shadow(rgba(255,255,255,.4) 1px 2px 2px);
	@include border-radius(2px);
	&:focus {
		border: 1px solid rgba(255,227,3,1);
		outline: none;
	}
}
.mainContent input[type=submit], .mainContent button {
	width: 130px;
	font-family: "Airbus", "myriadpro", Arial, sans-serif;
	font-size: 1em;
	text-align: center;
	margin-top: 1%;
	background: rgba(255,227,3,1);
	padding: 10px 10px 3px;
	border: none;
	outline: none;
	@include border-radius(2px);
	cursor: pointer;
}
.required {
	color: rgba(255,0,0,1);
}
body {
	background: rgba(0,0,0,1);
}
header {
	@include background(image-url('headerBG.png') center bottom no-repeat);
	@include background-size(auto 200px);
	border-bottom: 3px solid rgba(195,93,1,1);
	.logo {
		h1 {
			margin: 0;
			a {
			}
		}
	}
	.search {
		form {
			text-align: right;
			input[type=text] {
				padding: 8px 4px;
				background: rgba(0,0,0,1);
				border: 1px solid transparent;
				color: rgba(255,227,3,1);
				font-size: .750em;
				width: 80%;
				margin-top: 40px;
				border-top: 1px solid #444;
				border-left: 1px solid #444;
				@include box-shadow(rgba(255,255,255,.4) 1px 2px 2px);
				@include border-radius(2px);
				&:focus {
					border: 1px solid rgba(255,227,3,1);
					outline: none;
				}
			}
			input[type=submit] {
				width: 25px;
				height: 25px;
				border: none;
				cursor: pointer;
				margin: 0px 10px 0px -35px;
				text-indent: -9999px;
				@include background(image-url('search.jpg') center center no-repeat);
				@include background-size(25px 25px);
			}
		}
	}
	nav {
		ul {
			margin: 10px 0px 10px;
			li {
				display: inline-block;
				width: auto;
				margin-right: 5.25%;
				position: relative;
				a {
					font-family: "myriadpro", arial, sans-serif;
					font-weight: bold;
					color: rgba(255,255,255,1);
					padding: 5px 0px;
					@include transition(none);	
					&:hover, &.nav-selected, &.nav-path-selected {
						color: rgba(255,227,3,1);
						border-top: 3px solid rgba(255,227,3,1);
					}				
				}
				&:hover {
					ul {
						visibility: visible;
						@include opacity(1);
						@include transition(visibility .25s);
						@include transition-delay(.5s);
					}
				}
			}
			ul { /* Bottom Menu */
				position: absolute;
				z-index: 100;
				padding: 10px;
				visibility: hidden;
				width: 170px;
				left: 0;
				margin: 12px 0px 0px 0px;
				background: rgba(0,0,0,1);
				border: 1px solid rgba(255,227,3,1);
				@include opacity(0);
				@include transition(visibility .25s, opacity .25s);
				@include transition-delay(.1s);
				@include box-shadow(rgba(195,93,1,.7) 0px 0px 15px 1px);
				@include border-radius(4px);
				&:before, &:after {
					content: "";
					position: absolute;
					display: block;
					z-index: 101;
					width: 0;
					height: 0;
					left: 35px;
					top: -12px;
					margin-left: -12px;
					border-right: 12px solid transparent;
					border-bottom: 12px solid rgba(255,227,3,1);
				}
				&:after {
					top: -10px;
					border-bottom-color: rgba(0,0,0,1);
					left: 36px;
				}
				li {
					display: block;
					text-align: left;
					border: none;
					width: 100%;
					height: auto;
					margin: 0;
					a {
						color: rgba(255,255,255,1);
						display: block;
						font-size: 1em;
						line-height: 1em;
						border-top: 3px solid rgba(255,227,3,0);
						padding-left: 15px;
						&:hover, &.nav-selected, &.nav-path-selected {
							background: rgba(255,255,255,.25);
							color: rgba(255,227,3,1);
							text-decoration: none;
							border-top: 3px solid rgba(255,227,3,1);
						}
					}
				}
			} /* End Bottom Menu */
		} /* End Top Menu */
	}
}
.trunk {
	@include background(image-url('BG.jpg') top center no-repeat);
	@include background-size('cover');
	padding: 30px 0px 14px;
	h1, h2, h3, h4, h5, h6 {
		color: rgba(255,255,255,1);
	}
	p, small, ul, ol, label, .radioPair, .checkboxPair {
		color: rgba(191,191,191,1);
	}
	ul.videos {
		li {
			margin: 0px 1% 1em;
		}
	}
	.videoPost4 {
		width: 23%;
		float: left;
	}
	.blogPost3 {
		margin: 0px 1% 1em;
	}
	.videoPost3, .blogPost3 {
		width: 30%;
		display: inline-table;
	}
	.videoPost img, .videoPost3 img, .videoPost4 img, .blogPost3 img {
		margin: 0px 0px 1em;
		max-width: 960px;
		height: auto;
	}
	.youtubeBlock {
		margin: 0px 0px 1em;
		iframe {
			width: 100% !important;
		}
	}
	.ccm-tags-display ul.ccm-tag-list li {
		display: inline-block;
		margin-right: 10px;
		padding-right: 15px;
		border-radius: 0px;
		border-right: 1px solid rgba(255,255,255,1);
		height: 8px;
		&:last-child {
			border: none;
		}
	}
	.ccm-page-left, .ccm-page-right, .currentPage {
		color: rgba(191,191,191,1);
		font-family: "myriadpro", arial, sans-serif;
		font-size: 1em;
	}
	.sidebar .nav, .ccm-tags-display {
		margin-bottom: 16px;
		li ul {
			margin-top: 10px;
			margin-left: 16px;
		}
	}
}
.social {
	border-top: 3px solid rgba(195,93,1,1);
	padding: 20px 0px;
	@include background(image-url('headerBG.png') bottom center no-repeat);
	@include background-size(auto 200px);
	a {
		img {
			@include opacity(.75);
			@include transition(opacity .25s)
		}
		&:hover {
			img {
				@include opacity(1);
			}
		}
	}
	.socialIcons {
		ul {
			margin: 10px 0px 0px;
			text-align: right;
			li {
				display: inline;
			}
		}
	}
}
footer {
	text-align: right;
	padding: 15px 0px;
	p {
		font-family: "myriadpro", Arial, sans-serif;
		font-size: .875em;
		color: rgba(255,255,255,1);
	}
	nav {
		ul {
			margin: 0px 0px 15px;
			li {
				display: inline-block;
				min-width: auto;
				margin-right: 4.5%;
				text-align: right;
				&:last-child {
					margin: 0px;
				}
				a {
					font-family: "myriadpro", Arial, sans-serif;
					font-size: 1em;
				}
			}
		}
	}
}

