.c5tp-highlight-pink * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}
	
.c5tp-highlight-pink {
background-color: #fcc1cf;
padding: 12px;
margin-bottom: 8px;
margin-top: 8px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #ca6cc5;
	}
	
