 * .c5tp_search_dark{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.c5tp_search_dark {
padding: 12px;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid gray;
background-color: #454545;
width: 100%;
color: white;
margin-bottom: 8px;

	}
.c5tp_search_dark p{
margin: 0!important ;
padding: 0!important ;
	}	
.c5tp_search_dark form.ccm-search-block-form {
width: 100%;
	}
	
.c5tp_search_dark form.ccm-search-block-form h4 {
font-weight: normal;
font-style: normal;
font-size: 14px;
	}
	
.c5tp_search_dark p.search-phrase {
font-weight: normal;
font-style: normal;
font-size: 13px;
padding: 0;
float: left;
	}
	
.c5tp_search_dark input.ccm-search-block-text {
padding: 4px;
border-style: none;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #fefafa;
margin-left: 16px;
	}
	
.c5tp_search_dark input.ccm-search-block-text:focus {
padding: 4px;
border-style: none;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: inset 0px 0px 5px #aaa;
background-color: #e1f3fd;
	}
	
.c5tp_search_dark .searchResult p span {
background-color: gray!important ;
	}
	