/*========================
	Reset
========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========================
	Global
========================*/
/*.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12*/ 
*[class*="grid"] {
  	margin-left: 10px;
  	margin-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container_12 {
  	margin-left: auto;
  	margin-right: auto;
}
/*.push_1, .pull_1, 
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11*/
*[class*="push"], *[class*="pull"] {
  	position: relative;
}
/*========================
	Clear Floated Elements
========================*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container_12 {
  zoom: 1;
}
/*========================
	Mobile Layout: Up to 480px.
	Inherits styles from: Adapt2Me Layout.
========================*/
@media only screen and (max-width: 480px) {
}
/*========================
	Tablet Layout: 481px to 959px.
	Inherits styles from: Mobile Layout.
========================*/
@media only screen and (min-width: 481px) {
	.container_12 {
	  	margin-left: auto;
	  	margin-right: auto;
	  	width: 720px;
	}
	*[class*="grid"] {
	  	display: inline;
	  	float: left;
	}
	.alpha {
	  	margin-left: 0;
	}
	.omega {
	  	margin-right: 0;
	}
	/*========================
		Grid >> 12 Columns
	========================*/
	.grid_1 {
	  	width: 40px;
	}
	.grid_2 {
	  	width: 100px;
	}
	.grid_3 {
	  	width: 160px;
	}
	.grid_4 {
	  	width: 220px;
	}
	.grid_5 {
	  	width: 280px;
	}
	.grid_6 {
	  	width: 340px;
	}
	.grid_7 {
	  	width: 400px;
	}
	.grid_8 {
	  	width: 460px;
	}
	.grid_9 {
	  	width: 520px;
	}
	.grid_10 {
	  	width: 580px;
	}
	.grid_11 {
	  	width: 640px;
	}
	.grid_12 {
	  	width: 700px;
	}
	/*========================
		Prefix Extra Space >> 12 Columns
	========================*/
	.prefix_1 {
	  	padding-left: 60px;
	}
	.prefix_2 {
	  	padding-left: 120px;
	}
	.prefix_3 {
	  	padding-left: 180px;
	}
	.prefix_4 {
	  	padding-left: 240px;
	}
	.prefix_5 {
	  	padding-left: 300px;
	}
	.prefix_6 {
	  	padding-left: 360px;
	}
	.prefix_7 {
	  	padding-left: 420px;
	}
	.prefix_8 {
	  	padding-left: 480px;
	}
	.prefix_9 {
	  	padding-left: 540px;
	}
	.prefix_10 {
	  	padding-left: 600px;
	}
	.prefix_11 {
	  	padding-left: 660px;
	}
	/*========================
		Suffix Extra Space >> 12 Columns
	========================*/
	.suffix_1 {
	  	padding-right: 60px;
	}
	.suffix_2 {
	  	padding-right: 120px;
	}
	.suffix_3 {
	  	padding-right: 180px;
	}
	.suffix_4 {
	  	padding-right: 240px;
	}
	.suffix_5 {
	  	padding-right: 300px;
	}
	.suffix_6 {
	  	padding-right: 360px;
	}
	.suffix_7 {
	  	padding-right: 420px;
	}
	.suffix_8 {
	  	padding-right: 480px;
	}
	.suffix_9 {
	  	padding-right: 540px;
	}
	.suffix_10 {
	  	padding-right: 600px;
	}
	.suffix_11 {
	  	padding-right: 660px;
	}
	/*========================
		Push Space >> 12 Columns
	========================*/
	.push_1 {
	  	left: 60px;
	}
	.push_2 {
	  	left: 120px;
	}
	.push_3 {
	  	left: 180px;
	}
	.push_4 {
	  	left: 240px;
	}
	.push_5 {
	  	left: 300px;
	}
	.push_6 {
	  	left: 360px;
	}
	.push_7 {
	  	left: 420px;
	}
	.push_8 {
	  	left: 480px;
	}
	.push_9 {
	  	left: 540px;
	}
	.push_10 {
	  	left: 600px;
	}
	.push_11 {
	  	left: 660px;
	}
	/*========================
		Pull Space >> 12 Columns
	========================*/
	.pull_1 {
	  	left: -60px;
	}
	.pull_2 {
	  	left: -120px;
	}
	.pull_3 {
	  	left: -180px;
	}
	.pull_4 {
	  	left: -240px;
	}
	.pull_5 {
	  	left: -300px;
	}
	.pull_6 {
	  	left: -360px;
	}
	.pull_7 {
	  	left: -420px;
	}
	.pull_8 {
	  	left: -480px;
	}
	.pull_9 {
	  	left: -540px;
	}
	.pull_10 {
	  	left: -600px;
	}
	.pull_11 {
	  	left: -660px;
	}
}
/*========================
	Desktop Layout: 769px and Above.
	Inherits styles from: Mobile Layout.
========================*/
@media only screen and (min-width: 960px) {
	.container_12 {
	  	margin-left: auto;
	  	margin-right: auto;
	  	width: 960px;
	}
	/*========================
		Grid >> 12 Columns
	========================*/
	.grid_1 {
	  	width: 60px;
	}
	.grid_2 {
	  	width: 140px;
	}
	.grid_3 {
	  	width: 220px;
	}
	.grid_4 {
	  	width: 300px;
	}
	.grid_5 {
	  	width: 380px;
	}
	.grid_6 {
	  	width: 460px;
	}
	.grid_7 {
	  	width: 540px;
	}
	.grid_8 {
	  	width: 620px;
	}
	.grid_9 {
	  	width: 700px;
	}
	.grid_10 {
	  	width: 780px;
	}
	.grid_11 {
	  	width: 860px;
	}
	.grid_12 {
	  	width: 940px;
	}
	/*========================
		Prefix Extra Space >> 12 Columns
	========================*/
	.prefix_1 {
	  	padding-left: 80px;
	}
	.prefix_2 {
	  	padding-left: 160px;
	}
	.prefix_3 {
	  	padding-left: 240px;
	}
	.prefix_4 {
	  	padding-left: 320px;
	}
	.prefix_5 {
	  	padding-left: 400px;
	}
	.prefix_6 {
	  	padding-left: 480px;
	}
	.prefix_7 {
	  	padding-left: 560px;
	}
	.prefix_8 {
	  	padding-left: 640px;
	}
	.prefix_9 {
	  	padding-left: 720px;
	}
	.prefix_10 {
	  	padding-left: 800px;
	}
	.prefix_11 {
	  	padding-left: 880px;
	}
	/*========================
		Suffix Extra Space >> 12 Columns
	========================*/
	.suffix_1 {
	  	padding-right: 80px;
	}	
	.suffix_2 {
	  	padding-right: 160px;
	}	
	.suffix_3 {
	  	padding-right: 240px;
	}	
	.suffix_4 {
	  	padding-right: 320px;
	}	
	.suffix_5 {
	  	padding-right: 400px;
	}	
	.suffix_6 {
	  	padding-right: 480px;
	}	
	.suffix_7 {
	  	padding-right: 560px;
	}	
	.suffix_8 {
	  	padding-right: 640px;
	}	
	.suffix_9 {
	  	padding-right: 720px;
	}	
	.suffix_10 {
	  	padding-right: 800px;
	}	
	.suffix_11 {
	  	padding-right: 880px;
	}
	/*========================
		Push Space >> 12 Columns
	========================*/
	.push_1 {
	  	left: 80px;
	}	
	.push_2 {
	  	left: 160px;
	}	
	.push_3 {
	  	left: 240px;
	}	
	.push_4 {
	  	left: 320px;
	}	
	.push_5 {
	  	left: 400px;
	}	
	.push_6 {
	  	left: 480px;
	}	
	.push_7 {
	  	left: 560px;
	}	
	.push_8 {
	  	left: 640px;
	}	
	.push_9 {
	  	left: 720px;
	}	
	.push_10 {
	  	left: 800px;
	}	
	.push_11 {
	  	left: 880px;
	}
	/*========================
		Pull Space >> 12 Columns
	========================*/
	.pull_1 {
	  	left: -80px;
	}	
	.pull_2 {
	  	left: -160px;
	}	
	.pull_3 {
	  	left: -240px;
	}	
	.pull_4 {
	  	left: -320px;
	}	
	.pull_5 {
	  	left: -400px;
	}	
	.pull_6 {
	  	left: -480px;
	}	
	.pull_7 {
	  	left: -560px;
	}	
	.pull_8 {
	  	left: -640px;
	}	
	.pull_9 {
	  	left: -720px;
	}	
	.pull_10 {
	  	left: -800px;
	}	
	.pull_11 {
	  	left: -880px;
	}
}