.c5tp_image_caption_top {
position: relative;
overflow: hidden;
}

.c5tp_image_caption_top  img {
max-width: 100%;
height: auto;
display: block;
position: relative;
}

.c5tp_image_caption_top .image-caption p,	
.c5tp_image_caption_top .image-caption {
text-align: center;

color: white;
margin: 0!important;
padding-top: 7px;
padding-bottom: 7px;
width: 100%;
}

.c5tp_image_caption_top p,
.c5tp_image_caption_top h1,
.c5tp_image_caption_top h2,
.c5tp_image_caption_top h3,
.c5tp_image_caption_top h4,
.c5tp_image_caption_top h5,
.c5tp_image_caption_top h6 {
color: white !important;
font-weight: normal;
font-style: normal;
}

.c5tp_image_caption_top .image-caption{
background-color: #000000;
background-color: rgba(0,0,0,0.6)!important ;
}

.c5tp_image_caption_top .image-caption{
display: block;
position: absolute;
top: 0;
left: 0;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.c5tp_image_caption_top:hover .image-caption  {
position: absolute;
width: 100%;
top: -100px;
}