.c5tp-highlight-darkblue * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}
	
.c5tp-highlight-darkblue {
background-color: #140f80;
padding: 12px;
margin-bottom: 8px;
margin-top: 8px;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #040037;
color: white!important ;
	}
