.c5tp_image_caption_bottom_static {
	position: relative;
	overflow: hidden;
	color: white;
}

.c5tp_image_caption_bottom_static img {
	max-width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin-bottom: 0!important;
	}

.c5tp_image_caption_bottom_static p,.c5tp_image_caption_bottom_static .image-caption {
	text-align: center;
	margin: 0 !important;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
}

.c5tp_image_caption_bottom_static p,
.c5tp_image_caption_bottom_static h1,
.c5tp_image_caption_bottom_static h2,
.c5tp_image_caption_bottom_static h3,
.c5tp_image_caption_bottom_static h4,
.c5tp_image_caption_bottom_static h5,
.c5tp_image_caption_bottom_static h6 {
	color: white !important;
	font-weight: normal;
	font-style: normal;
}

.c5tp_image_caption_bottom_static .image-caption {
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}

.c5tp_image_caption_bottom_static .image-caption {
	position: absolute;
	width: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	bottom: -100px;
}

.c5tp_image_caption_bottom_static:hover .image-caption {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}
